@import '../../variables';

.search {
  margin-bottom: 1.5rem;
}

input {
  width: 96%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid $gray-light;
  border-radius: 8px;

  &:focus {
    outline: none;
    border-color: $primary;
    box-shadow: 0 0 0 2px rgba($primary, 0.2);
  }
}
